*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ /
:-moz-placeholder           {color:#c0392b;}/ Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.field-api,.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
select{
    width: 300px;
    height: 60px;
    background: #b9dd19;
    border: none;
    outline: none;
}
input{
    background: #0aa79f;
    width: 300px;
    height: 60px;
    color: aliceblue;
    border: none;
    outline: none;
    margin: 10px;
    padding: 5px 10px;
}
button{
    cursor: pointer;
    width: 300px;
    height: 60px;
    border: none;
    outline: none;
    margin: 10px;
    padding: 5px 10px;
}